html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
}

section {
  width: 300px;
  height: 300px;
}
.section1 {
  background-color: #e9db5c;
  position: absolute;
  top: 50%;
  left: 50%;
}
.section2 {
  background-color: #547ef1;
  position: absolute;
  top: 50%;
  left: 50%;
}

.section3 {
  background-color: #234919;
  position: absolute;
  top: 50%;
  left: 50%;
}
